{{ define "main" }}
<article class="article">
    <header class="article-header">
        <div class="article-meta">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
            {{ with .Params.author }}{{ . }}{{ end }}
        </div>
        <h1 class="article-title">{{ .Title }}</h1>
        {{ with .GetTerms "tags" }}
        <div class="article-tags">
            {{ range . }}
            <a href="{{ .Permalink }}" class="tag tag--link">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ end }}
    </header>

    {{ with $.Params.image }}
    {{ partial "image.html" (dict "src" . "alt" $.Title "class" "article-image" "style" (printf "object-position: %s" ($.Params.image_focus | default "50% 50%")) "sizes" "(max-width: 640px) 100vw, 720px") }}
    {{ end }}

    <div class="article-content">
        {{ .Content | replaceRE `(\s)([aAiIoOuUwWzZ]) (\S)` "$1$2&nbsp;$3" | safeHTML }}
    </div>
</article>
{{ end }}
