{{- $page := .page -}}
{{- $class := .class | default "article-image" -}}
{{- $sizes := .sizes | default "(max-width: 640px) 100vw, 720px" -}}
{{- $focusOverride := .focus -}}
{{- with $page.Params.image -}}
{{- $focus := $focusOverride | default ($page.Params.image_focus_banner | default $page.Params.image_focus | default "50% 50%") -}}
{{- $style := partial "focal-vars.html" (dict "focus" $focus) -}}
{{ partial "image.html" (dict "src" . "alt" $page.Title "class" $class "style" $style "sizes" $sizes) }}
{{- end -}}
