{{- $src := strings.TrimLeft "/" .src -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $style := .style | default "" -}}
{{- $sizes := .sizes | default "(max-width: 640px) 100vw, 720px" -}}
{{- $title := .title | default "" -}}
{{- $isExternal := or (hasPrefix $src "http://") (hasPrefix $src "https://") -}}
{{- if $isExternal -}}
<img src="{{ $src }}" alt="{{ $alt }}"
  {{- with $class }} class="{{ . }}"{{ end }}
  {{- with $style }} style="{{ . }}"{{ end }}
  {{- with $title }} title="{{ . }}"{{ end }}
  loading="lazy">
{{- else -}}
  {{- $img := resources.Get $src -}}
  {{- if $img -}}
    {{- $small := $img.Resize "640x webp q80" -}}
    {{- $large := $img.Resize "1280x webp q80" -}}
<img
  src="{{ $large.RelPermalink }}"
  srcset="{{ $small.RelPermalink }} 640w, {{ $large.RelPermalink }} 1280w"
  sizes="{{ $sizes }}"
  alt="{{ $alt }}"
  {{- with $class }} class="{{ . }}"{{ end }}
  {{- with $style }} style="{{ . }}"{{ end }}
  {{- with $title }} title="{{ . }}"{{ end }}
  loading="lazy">
  {{- else -}}
<img src="{{ $src | relURL }}" alt="{{ $alt }}"
  {{- with $class }} class="{{ . }}"{{ end }}
  {{- with $style }} style="{{ . }}"{{ end }}
  {{- with $title }} title="{{ . }}"{{ end }}
  loading="lazy">
  {{- end -}}
{{- end -}}
