<div class="team-card">
    {{ with .Params.photo }}
    {{ partial "image.html" (dict "src" . "alt" ($.Params.name | default $.Title) "class" "team-card__photo") }}
    {{ end }}
    <div class="team-card__body">
        <p class="team-card__name">{{ .Params.name | default .Title }}</p>
        {{ with .Params.role }}<p class="team-card__role">{{ . }}</p>{{ end }}
        {{ with .Params.birth_year }}<p class="team-card__year">ur.&nbsp;{{ . }}</p>{{ end }}
        {{ with .Params.bio }}<p class="team-card__bio">{{ . | replaceRE `(\s)([aAiIoOuUwWzZ]) (\S)` "$1$2&nbsp;$3" | safeHTML }}</p>{{ end }}
    </div>
</div>
