{{ define "main" }}
{{ $mainSlug := .Params.artykul_glowny }}
{{ $editionArticles := where .Site.RegularPages "Params.edition" .File.ContentBaseName }}
{{ $gridPages := where $editionArticles "File.ContentBaseName" $mainSlug | first 1 | append (where $editionArticles "File.ContentBaseName" "ne" $mainSlug) }}

<div class="edition-banner">
    <time class="edition-banner__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    {{ with .Params.issue }}<p class="edition-banner__issue">{{ . }}</p>{{ end }}
    <p class="edition-banner__title">{{ .Title }}</p>
</div>

{{ if $gridPages }}
<div class="articles-grid">
    {{ range $gridPages }}{{ partial "post-card.html" . }}{{ end }}
</div>
{{ end }}
{{ end }}
